<div class="panel shadow center" style="--panel-size: 50ch;">
  <div class="flex flex-column gap txt-medium">
    <h1 class="txt-x-large font-weight-black margin-block-none">Edit Account <%= @account.external_account_id %></h1>

    <dl class="flex flex-column gap-half margin-block-none">
      <div class="flex gap-half">
        <dt class="font-weight-bold">Name:</dt>
        <dd class="margin-inline-start-none"><%= @account.name %></dd>
      </div>
      <div class="flex gap-half">
        <dt class="font-weight-bold">Actual card count:</dt>
        <dd class="margin-inline-start-none"><%= @account.cards_count %></dd>
      </div>
      <div class="flex gap-half">
        <dt class="font-weight-bold">Actual bytes used:</dt>
        <dd class="margin-inline-start-none"><%= storage_to_human_size(@account.bytes_used) %></dd>
      </div>
    </dl>

    <%= form_with model: @account, url: saas.admin_account_path(@account.external_account_id), class: "flex flex-column gap" do |form| %>
      <div class="flex align-center gap-half">
        <%= form.label :card_count, "Override card count", class: "font-weight-bold" %>
        <%= form.number_field :card_count, value: @account.overridden_limits&.card_count, class: "input" %>
      </div>

      <div class="flex align-center gap-half">
        <%= form.label :bytes_used, "Override bytes used", class: "font-weight-bold" %>
        <%= form.number_field :bytes_used, value: @account.overridden_limits&.bytes_used, class: "input" %>
      </div>

      <button type="submit" class="btn btn--reversed">Save</button>
    <% end %>

    <% if @account.overridden_limits %>
      <%= button_to "Reset limits", saas.admin_account_overridden_limits_path(@account.external_account_id), method: :delete, class: "btn btn--negative" %>
    <% end %>

    <% if @account.comped? %>
      <%= button_to "Uncomp account", saas.admin_account_billing_waiver_path(@account.external_account_id), method: :delete, class: "btn btn--negative" %>
    <% else %>
      <%= button_to "Comp account", saas.admin_account_billing_waiver_path(@account.external_account_id), method: :post, class: "btn btn--positive" %>
    <% end %>

    <%= link_to "Back to accounts", saas.admin_accounts_path, class: "btn btn--plain txt-link" %>
  </div>
</div>
