<% cache user_filtering do %>
  <%= tag.aside id: "filter-settings",
        class: class_names("filters", { "filters--expanded": user_filtering.expanded? }),
        data: { controller: "toggle-class", toggle_class_toggle_class: "filters--expanded" } do %>
    <div class="flex-inline center align-center gap-half" data-controller="toggle-enable">
      <div class="btn btn-circle txt-x-small" style="visibility: hidden">
        <!-- placeholder for centering -->
      </div>
      <%= render "filters/settings/terms", user_filtering: user_filtering %>
      <%= render "filters/settings/controls", user_filtering: user_filtering %>

      <%= render "filters/settings/toggle", user_filtering: user_filtering %>
      <%= render "filters/settings/manage", user_filtering: user_filtering %>
    </div>
  <% end %>
<% end %>
