<%= turbo_frame_tag "my_menu", target: "_top" do %>
  <%= render "my/menus/jump" do %>
    <%= render "my/menus/boards", boards: @boards %>
    <%= render "my/menus/tags", tags: @tags %>
    <%= render "my/menus/people", users: @users %>
    <%= render "my/menus/settings" %>
    <%= render "my/menus/shortcuts" %>
    <%= render "my/menus/accounts", accounts: @accounts %>
  <% end %>

  <footer class="nav__footer">
    A central place to manage all tasks
    <% if EnvHelper.submissio? %>
      for
      <a
        href="https://www.submissio.ch"
        target="_blank"
        class="txt-ink flex-inline align-center gap-half"
      >
        <strong>submissi.o</strong>
        <%= image_tag "submissio.png", style: "height: 1.2em; width: auto;" %>
      </a>
    <% end %>
  </footer>
<% end %>
